/** Posts.js **/
#fauxmat-postgrid {
    margin: auto;
    height: 100%;
    position: relative;
    border-bottom: 1px solid $darkerBackground;
}
.fauxmat-pagination-buttons {
    width: 20%;
    margin: auto;
    padding: 10px 0;
}
@media only screen and (max-width: 760px) {
    .fauxmat-pagination-buttons {
        width: 40%;
        padding-left: 20px;
    }
}
.fauxmat-pagination-button{
    background-color: black;
}
.fauxmat-grid-card{
    height: 400px;
    width: 100%;
    font-size: 1.1rem;
}
@media only screen and (max-width: 760px) {
    .fauxmat-grid-card{
        height: 400px;
        width: 400px;
    }
}
.fauxmat-post-masthead-list {
    background-color: $textColor;
    color: $backgroundColor;
    margin: 0;
}
.fauxmat-post-title-large{
    font-size: 1.3rem;
    padding: 10px;
}
.fauxmat-post-date-large {
    font-size: 0.9rem;
}
#fauxmat-post{
    width: 100%;
    text-align: left;
}

/** Post.js **/
#fauxmat-post-inner{
   width: 100%;
   padding: 2px 0px;
}
.fauxmat-post-title-wrapper{
    display: flex;
}
.fauxmat-post-masthead {
    flex: 0 0 50%;
    margin: 0 20px;
    border-top: 1px solid $fadedColor;
}
#fauxmat-post-title {
    font-size: 3rem;
    line-height: 2.8rem;
    position: relative;
    font-weight: bold;
    padding: 10px 0;
}
#fauxmat-post-author {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 15px 0;
}

img.fauxmat-post-author-avatar {
    width: 48px;
    border-radius: 50%;
    padding-right: 5px;
}
.fauxmat-post-date {
    display: flex;
    color: $dateColor;
    font-size: 1.1rem;
}
#fauxmat-post-content-wrapper{
    margin: 2px 0px;
}
#fauxmat-post-masthead-image{
    width: 100%;
    height: 350px;
    border-radius: 6px;
}
@media only screen and (max-width: 760px) {
    #fauxmat-post-masthead-image{
        height: 300px;
        width: 300px;
    }
}
#fauxmat-post-content {
    width: 100%;
    background-color: $backgroundColor;
    color: black;
    line-height: 1.6;
    font-size: 1.3rem;
    padding: 10px 20px;
    img {
        width: auto;
        max-height: 700px;
        height: auto;
    }
}
#fauxmat-post-comment-teaser{
    color: $dateColor;
    display: flex;
    font-size: 0.9rem;
}
#fauxmat-post-comments-wrapper{
    border-top: 1px solid $fadedColor;
    border-bottom: 1px solid $fadedColor;
    padding-top: 10px;
    font-size: 1rem;
}
#fauxmat-post-comments-replies{
    padding-top: 10px;
}
.fauxmat-post-reply-thread{
    padding: 0 15px;
}
.fauxmat-comment-body-wrapper {
    background: $commentColor;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    margin-left: 1%;
    margin-bottom: 23px;
    padding: 5px 0 0 15px;
    position: relative
}
.fauxmat-comment-post-author{
    font-weight: bold;
}
.fauxmat-comment-body {
    padding: 10px 15px 0 0;
}


span:first-of-type {
    flex: 1;
}

/** overrides */
figure {
    padding: 4px;
    margin: auto;
}
  
figcaption {
    font-style: italic;
    text-align: left;
    padding-bottom: 2px;
}

wp-block-image {
    margin: 0;
}